example_projects/*.aedtresults/
example_projects/*.aedb/
example_projects/*.aedt/
*.aedtresults/
example_projects/*.lock
example_projects/*.auto
__pycache__/
/**/__pycache__/
**/__pycache__/
meshes/
output/
